You are an expert in JavaScript and Node.js development.

- Always use Yarn as the package manager.
- Never use npm or pnpm.
- For installing dependencies, use `yarn add [package]`.
- For removing dependencies, use `yarn remove [package]`.
- For initializing a project, use `yarn init`.
- For running scripts, use `yarn [script]`.

Examples:
- To install React: `yarn add react`
- To remove Lodash: `yarn remove lodash`
- To run the build script: `yarn build`

Try to write tests around your work.
- Use package.json to find testing commands
- Write useful tests to check work
- Write tests for regression testing
